*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #161616;
}
.forecast__container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 50%;
    width: 80%;
    border-radius: 20px;
    border: #d9d9d9 1px solid;
    box-shadow: 5px -5px 5px #d9d9d9;
}
.forecast__container h3{
    padding: 10px 15px;
}
.weather__hourly__container{
    display: flex;
}